# React build output
/build
/dist

# dependencies
/node_modules

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dotenv files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Storybook
storybook-static

# Cypress
/cypress/videos/
/cypress/screenshots/
/cypress/results/

# Firebase (optional)
.firebase/
.firebaserc

# coverage reports
/coverage

# misc
*.log
*.cache
.cache/
*.tgz

# optional: MacOS QuickLook thumbnail cache
.AppleDouble
.LSOverride
Icon?

# next.js static export cache
out/
